@import '../scss/variables';
@import '../scss/breakpoints';

figure {
  display: block;
  margin: 0;
}

.sticky {
  margin: auto;
  width: calc(100% - 80px);
}

.posts {

  overflow: hidden;

  &.sticky {
    .row {
      width: 100%;
      margin: 0;
      padding: 0;
      display: block;

      .col {
        padding-top: 0;
        padding-bottom: 0;

        & > div {
          width: auto;
          float: none !important;
        }
      }
    }
  }

  .row {

    display: flex;
    padding: $rowPadding / 4 0;
    justify-content: space-between;

    @include breakpoint('m') {
      padding-left: $rowPadding * 0.7;
      padding-right: $rowPadding * 0.7;
      margin-left: (-$spaceBetween - $rowPadding + $minPagePadding) * 0.7;
      margin-right: (-$spaceBetween - $rowPadding + $minPagePadding) * 0.7;
    }

    @include breakpoint('l') {
      padding-left: $rowPadding;
      padding-right: $rowPadding;
      margin-left: -$spaceBetween - $rowPadding + $minPagePadding;
      margin-right: -$spaceBetween - $rowPadding + $minPagePadding;
    }

    position: relative;

    h1, h2, h3, p {
      font-size: 12px;
      margin: 0;
    }

    img {
      max-width: 100%;
    }

    .videoContainer,
    figcaption {
      text-transform: uppercase;
    }

    .textContainer {
      h1, h2, h3, p {
        font-size: 8px;
      }

      @include breakpoint('s') {
        h1, h2, h3, p {
          font-size: 12px;
        }
      }

      a {
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .videoContainer {
      video {
        width: 100%;
        height: auto;
      }
    }


    .col {
      padding: 0 $spaceBetween / 5;
      padding-top: 20px;
      flex: 1;

      @include breakpoint('m') {
        padding-top: 40px;
        padding-left: $spaceBetween * 0.7;
        padding-right: $spaceBetween * 0.7;
      }

      @include breakpoint('l') {
        padding-left: $spaceBetween;
        padding-right: $spaceBetween;
      }

      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }


    &.steps {
      &:nth-child(odd) {
        justify-content: flex-end;

        .col {
          @for $i from 2 through $maxCols {
            &:nth-last-child(#{$i}) {
              padding-top: ($i - 1) * ($stepMargin / 2);

              @include breakpoint('m') {
                padding-top: ($i - 1) * $stepMargin;
              }
            }
          }
        }
      }

      &:nth-child(even) {
        justify-content: flex-start;

        .col {
          @for $i from 2 through $maxCols {
            &:nth-child(#{$i}) {
              padding-top: ($i - 1) * ($stepMargin / 2);

              @include breakpoint('m') {
                padding-top: ($i - 1) * $stepMargin;
              }
            }
          }
        }
      }
    }

  }
}
