@import '../scss/variables';
@import '../scss/breakpoints';

html {
  box-sizing: border-box;
}


*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

.page {
  position: relative;
  margin: auto;
  max-width: $maxPageWidth;
  padding: $pagePadding 0;
  padding-bottom: 70px;
  min-height: 100vh;

  .header {
    position: relative;

    .logoContainer {
      position: absolute;
      left: $minPagePadding;

      .logo {
        position: fixed;
        z-index: 100;
        width: $logoWidth * 0.7;

        @include breakpoint('s') {
          width: $logoWidth;
        }

        svg {
          width: 100%;
        }
      }
    }

    .navigationContainer {
      position: absolute;
      right: $minPagePadding;
      width: $iconWidth * 0.7;
      height: $iconHeight * 0.7;

      @include breakpoint('s') {
        width: $iconWidth;
        height: $iconHeight;
      }

      .navigation {
        position: fixed;
        z-index: 100;
        width: $iconWidth * 0.7;
        height: $iconHeight * 0.7;

        @include breakpoint('s') {
          width: $iconWidth;
          height: $iconHeight;
        }

      }
    }
  }

  .footer {
    position: absolute;
    bottom: 15px;
    right: $minPagePadding;
    font-size: 12px;
    text-align: right;
    text-transform: uppercase;

    .copyright {
      font-weight: bold;
    }

    .secondaryNavigation {
      a {
        color: #000;
        text-decoration: none;
      }
    }
  }
}
