@import '../scss/variables';
@import '../scss/breakpoints';

.lightboxContainer {
  position: fixed;
  z-index: 200;
  background: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;

  .lightboxInner {
    max-width: $maxPageWidth;
    margin: 0 auto;
    padding: 50px 25px;

    @include breakpoint('s') {
      padding: 75px;
    }

    @include breakpoint('m') {
      padding: 100px;
    }

    position: relative;
    text-transform: uppercase;
    font-size: 10px;

    .iconClose {
      position: absolute;
      top: 25px;
      right: $minPagePadding;
      width: $iconWidth;
      height: $iconHeight;
    }
  }
}
