$translateDist: 100px;
$transitionTransformDuration: 0.6s;
$transitionOpacityDuration: 0.3s;

.animate {
  transition: transform $transitionTransformDuration ease-in-out, opacity $transitionOpacityDuration;
}

.animationInside {
  opacity: 1;
}

.animationOutside {
  opacity: 0;
}

.animateUp {
  transform: translate(0, -$translateDist);
}

.animationDown {
  transform: translate(0, $translateDist);
}
