$maxPageWidth: 1500px;
$pagePadding: 20px;

$minPagePadding: 15px;
$rowPadding: 50px;

$spaceBetween: 45px;

$maxCols: 5;
$stepMargin: 100px;

$iconWidth: 25px;
$iconHeight: $iconWidth;

$logoWidth: $iconWidth;
